/*___colors___*/

$primary-dark: #1c1e24;
$secondary-dark: #21232b;
$ternary-dark: #2e313f;

$white: #FFFFFF;
$black: #000000;

$very-light-gray: #C9C9C9;//#DEDEDE;
$gray: #808080;
$dark-gray: #404040;

$blue: #008CFF;
$light-blue: #00aeff;


//skillset colors
$orange: darkorange;
$marine: #2965f1;
$yellow: #f0db4f;
$cyan: #36dff8;
$green: #3c873a;
$pink: #cc6699;

/*___font-weights___*/

$fw-sm: 300;
$fw-reg: 400;
$fw-lg: 700;